.text-center {
  text-align: center;
}
.option input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.option label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid gray;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.option input:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 24px;
  width: 6px;
  height: 14px;
  border: solid gray;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.options{
    padding: 10px;
}
.question-text {
  font-size: 15px;
  margin: 0px;
}
.question-section{
    background-color: gray;
    padding: 10px 10px 10px 10px;
    color: #fff;
}

.mat-list{
  height: 75vh;
  overflow-y: auto;
}

.list-item-style {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
}
.correct-answer{
    color: green;
    padding-left: 15px;
    padding-bottom: 8px;
}
.wrong-answer{
    color: red;
    padding-left: 15px;
    padding-bottom: 8px;
}

:host ::ng-deep{
  .chartjs-size-monitor{
      height: inherit;
      position: relative;
  }
}

.btn-style{
  box-shadow: 0px 0px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
}

.left-section .mat-list::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.left-section .mat-list::-webkit-scrollbar
{
    width: 8px;
    background-color: #F5F5F5;
}

.left-section .mat-list::-webkit-scrollbar-thumb
{
    background-color: rgb(109, 108, 108); 
    background-image: -webkit-linear-gradient(90deg,
                                              rgba(255, 255, 255, .2) 25%,
                                              transparent 25%,
                                              transparent 50%,
                                              rgba(255, 255, 255, .2) 50%,
                                              rgba(255, 255, 255, .2) 75%,
                                              transparent 75%,
                                              transparent)
}